/* main rules */
:root{
    --white-color:#fff;
    --p-size:13px;
    --main-color:#02389C;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0;
    padding:0;
}
body{
    font-family: 'Work Sans',Arial, Helvetica, sans-serif !important;
    
    overflow-x: hidden;
}
.container-tv{
    width: 100%;
    height: 100%;
    margin: auto;
}
.out,
.in{
    font-size: var(--p-size);
    font-weight: 600;
    border: none;
    padding: 0;
    height: 60px;
    width: 150px;
    background: none;
    color: var(--white-color);
    border: 5px;
    position: relative;
}
.out{
    background: var(--main-color);
}
.out span,
.in span:nth-last-of-type(2){
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    
    transform:translate(-50%,-50%);
    z-index: 100;
    transition: .3s all linear;
}
.out::after {
    content:"";
    display: block;
    width: 0%;
    height: 0%;
    position: absolute;
    transition: .3s all linear;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: var(--white-color);
}
.out:hover span{
    color: var(--main-color);
}
.out:hover::after{
    width: 105%;
    height: 105%;
}
.in{
    border: 1px solid var(--white-color);
}
.in::before,
.in::after,
.in span:nth-last-of-type(1),
.in span:nth-last-of-type(3) {
    content:"";
    display: block;
    width: 0%;
    height: 0%;
    position: absolute;
    transition: .3s all linear;
    background: var(--white-color);
}
.in::before{
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: top;
    height:1px;
    transform: scaleY(1);
}
.in::after {
    bottom: 0;
    transform-origin: bottom;
    right: 0;
    width: 100%;
    height:1px;
}
.in span:nth-last-of-type(1){
   left: 0;
   transform-origin: left;
   top:0;
   height: 100%;
   width: 1px;
}
.in span:nth-last-of-type(3){
    right: 0;
    transform-origin: right;
    bottom: 0;
    height: 100%;
    width: 1px;
}
.in:hover::before,
.in:hover::after{
    transform: scaleY(50);
}
.in:hover  span:nth-last-of-type(1),
.in:hover span:nth-last-of-type(3){
    transform: scalex(50);
}
.in:hover span:nth-of-type(2){
    color: #191919;
}
/* start header */
header{
    width: 100%;
    min-height:105vh;
    background: url(../imgs/background_01.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
}
header .headerContent{
    border: 1px solid rgba(255,255,255,.2);
}
header .col-12 > p{
    color: rgba(255,255,255,.95) !important;
    font-size: 14px;
    letter-spacing: 1px;
}
header .container-fluid{
    position: relative;
    
}
header .container-fluid .img-container2{
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
header .container-fluid .img-container2 img{
    transform: translateY(22%);
}
header > .img-container{
    position: absolute;
    top: 0;
    left: 0;
    
}
/* start portfolio */
.portfolio{
    background-color: #E9EEF7;
}
.fuck{
    height: auto;
}
.portfolio  .slide-up1,
.portfolio  .slide-up2,
.portfolio  .slide-up3,
.portfolio  .slide-up4{
    box-shadow: 0px 5px 15px 7px rgba(0,0,0,.2);
    overflow: hidden;
    transform: translatey(-20%);
    height: 700px;
    cursor: pointer;
}

.portfolio .slide-up1 img,
.portfolio .slide-up2 img,
.portfolio .slide-up3 img,
.portfolio .slide-up4 img{
    transition: 6s all ease-in-out;
    width: 100%;
}
.portfolio .slide-up1:hover img{
    transform: translatey(-41%);
}
.portfolio  .contentof-slideup1,
.portfolio  .contentof-slideup2,
.portfolio  .contentof-slideup3,
.portfolio  .contentof-slideup4{
    transform: translatey(-45%);
}
.portfolio  .contentof-slideup1 h6,
.portfolio  .contentof-slideup2 h6,
.portfolio  .contentof-slideup3 h6,
.portfolio  .contentof-slideup4 h6{
    color: #00214e !important;
    font-weight: 400;
}
.portfolio  .contentof-slideup1 h6::after,
.portfolio  .contentof-slideup2 h6::after,
.portfolio  .contentof-slideup3 h6::after,
.portfolio  .contentof-slideup4 h6::after{
    content: "";
    display: block;
    height: 1px;
    width: 35px;
    background-color: #CF1A45;
    margin: 12px 0;
}
.portfolio  .contentof-slideup1 h3,
.portfolio  .contentof-slideup2 h3,
.portfolio  .contentof-slideup3 h3,
.portfolio  .contentof-slideup4 h3{
    color: #00214e !important;
    font-weight: 600;
    font-size: 31px;
    
}
.portfolio  .contentof-slideup1 h3 em,
.portfolio  .contentof-slideup2 h3 em,
.portfolio  .contentof-slideup3 h3 em,
.portfolio  .contentof-slideup4 h3 em{
    color: #CF1A45 !important ;
}
.portfolio  .contentof-slideup1 p,
.portfolio  .contentof-slideup2 p,
.portfolio  .contentof-slideup3 p,
.portfolio  .contentof-slideup4 p{
    color: #00214e !important ;
    font-weight: 400;
}
.portfolio  .contentof-slideup2 {
    text-align: initial;
    direction: rtl;
}

.portfolio .slide-up2:hover img{
    transform: translatey(-57%);
}
.portfolio  .slide-up3{
    transform: translateY(-10%);
    margin-bottom: 40px;
}
    .portfolio .slide-up3 img,
    .portfolio .slide-up4 img{
        transition: 6.8s all ease-in-out;
        width: 100%;
    }
.portfolio .slide-up3:hover img{
    transform: translatey(-58%);
}
.portfolio .slide-up4:hover img{
    transform: translatey(-77%);
}

/* 
******** start servic ********
*/
.service{
    background: #00214e;
    padding:230px 0  ;


}
.service .row > div:first-of-type h2{
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 17px;
}
.service .row > div:first-of-type p{
    font-size: 18px;
    font-weight: 400;
}
.service .row > div:first-of-type.first p span{
    font-size: 23px;
    color:#CF1A45;
    font-style:italic;
}
.service .row > div:not(.first) > div{
    border: 1px solid rgba(255,255,255,.2);
    padding:75px  0 !important;
    transition:.4s all linear;
    height:324px
}
.service .row > div:not(.first) > div svg{
    stroke: #CF1A45;
    transition:.4s all linear;
}
.service .row > div:not(.first) > div span{
    color: #fff;
    
}
.service .row > div:not(.first) > div:hover{
    background: #CF1A45;
}
.service .row > div:not(.first) > div:hover svg{
    stroke: #fff;
}
.service .row:last-of-type > div:last-of-type span{
    font-weight: 600;
    color: rgba(255,255,255,.4);
    font-size:16px;
}

/*
 
****************start fourth section the smallest one

*/
.fourth .col-12 h2{f
    color: #00214e;
    font-weight: bold;
    font-size:40px;
}
.fourth .col-12 p{
    color: #00214e;
    font-weight: bold;
    letter-spacing: 6px;
}
/*
*****************fifth section
*/
.fifth {
    min-height:140vh;
    background:#E9EEF7 ;
    position: relative;
    width: 100%;

    
}

.fifth .col8 {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 87%;
    text-align: center;
    opacity: 0;
    transition: .5s all linear;
    z-index: 4;
}
.fifth .col8.active{
    opacity: 1;
}
.fifth .flag{
    position: absolute;
    bottom:-35%;
    left: 0;
    width: 140%;
    height: 140%;
    z-index: 0;
    
}
.out:last-of-type{
    display: none;
}


footer{
    background: #00214e;
    
}
footer .row:first-of-type{
    transform: translateY(-50%);
}
footer p {
    color: #00214e;
    font-weight:bold !important;
    font-size:14px !important;
}
footer svg {
    stroke: #CF1A45;
    transition:.4s;
}
footer svg:hover {
    stroke: #00214e;
}
footer .row:last-of-type .col-12:first-of-type p{
    color: rgba(255,255,255,.4) !important;
    font-weight: 200 !important;
    font-size:20px !important;
}
footer .row:last-of-type .col-12:last-of-type input{
    color: rgba(255,255,255,.4) !important;
    background: none;
    border: none;
    border-bottom: 3px solid rgba(255,255,255,.2);

    padding: 15px 0px 5px 5px;
    font-size: 25px;
    margin-right: 2%;
    transition: all .4s;
    display: block;
    font-size: 14px;
}
footer .in4{
   height: 50px;
    border: 2px solid rgba(255,255,255,.2) !important;
    background: none;
    color: rgba(255,255,255,.2) !important;
    transition: .3s all linear;
    padding: 0px 15px ;
    display: block;
    margin-left: auto;
}
footer .in4:hover{
    background: rgba(255,255,255,.2);
    color: rgba(255,255,255,1) !important;
}



@media (min-width: 576px) {
    
    .portfolio .slide-up1 img,
    .portfolio .slide-up2 img{
        transition: 6.7s all ease-in-out;
        width: 100%;
    }
    .portfolio .slide-up1:hover img{
        transform: translatey(-58%);
    }
    .portfolio .slide-up2:hover img{
        transform: translatey(-72%);
    }
    .portfolio .slide-up3 img,
    .portfolio .slide-up4 img{
        transition: 7.2s all ease-in-out;
        width: 100%;
    }
.portfolio .slide-up3:hover img{
    transform: translatey(-68%);
}
.portfolio .slide-up4:hover img{
    transform: translatey(-82%);
}
.fifth{
    height: 150vh;
}
.fifth .flag{
    bottom: -9%;
    width: 115%;
    height: 115%;
    left: 18%;
}
}



@media (min-width: 768px) {
    .portfolio .slide-up1 img,
    .portfolio .slide-up2 img{
        transition: 7.5s all ease-in-out;
        width: 100%;
    }
    .portfolio .slide-up1:hover img{
        transform: translatey(-70%);
    }
    .portfolio .slide-up2:hover img{
        transform: translatey(-80%);
    }
    .portfolio .slide-up3 img,
    .portfolio .slide-up4 img{
        transition: 7.8s all ease-in-out;
        width: 100%;
    }
.portfolio .slide-up3:hover img{
    transform: translatey(-78%);
}
.portfolio .slide-up4:hover img{
    transform: translatey(-88%);
}
.fifth{
    height: 160vh;
}
.fifth .flag{
    bottom: 13%;
    width: 90%;
    height: 92%;
    left:1%;
}
  }



@media (min-width: 992px) {
    .portfolio .slide-up1 img,
    .portfolio .slide-up2 img{
        transition: 6.7s all ease-in-out;
        width: 100%;
    }
    .portfolio .slide-up4{
        transform: translatey(-28%);
    }
    .portfolio .slide-up1:hover img{
        transform: translatey(-56%);
    }
    .portfolio .slide-up2:hover img{
        transform: translatey(-65%);
    }
    .portfolio  .contentof-slideup1{
        transform: translatey(-50%);
    }
    .portfolio  .contentof-slideup2{
    transform: translatey(-75%);
    }
    
    .portfolio .slide-up2{
        transform: translatey(-33%);
    }
    .portfolio .row:last-of-type{
        transform: translateY(-20%);
        position: relative;
        z-index: 10000000000;
    }
    .portfolio .row:last-of-type .slide-up3 img,
    .portfolio .row:last-of-type .slide-up4 img{
        transition: 7.2s all ease-in-out;
        width: 100%;
    }
    .portfolio .row:last-of-type .slide-up3:hover img{
        transform: translatey(-65%);
    }
    .portfolio .row:last-of-type .slide-up4:hover img{
        transform: translatey(-75%);
    }
    
    .service{
        margin-top:-65%;
        
    }
    .fourth{
        padding-bottom:100px !important;
/*        transform: translateY(-205%);*/
    }
    .fifth{
        height: 170vh;
/*        transform:translateY(-51%);*/
    }
    .fifth .flag{
        bottom: 28%;
        width: 80%;
        height: 82%;
        left: 41%;
    }
    
    .out:last-of-type{
        display: block;
        width: 180px;
        background-color: #CF1A45;
        height:70px;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50% , 0);
    }
    .out:hover span{
        color: #CF1A45;
    }
/*
    footer {
        transform: translateY(-107%);
    }
*/
    footer p {
        font-size:16px !important;
    }
  }



@media (min-width: 1200px) { 
    .out,
    .in{
        height: 70px;
        width: 170px;
        font-size: 16;
    }
    .portfolio .slide-up1 img,
    .portfolio .slide-up2 img{
        transition: 7.3s all ease-in-out;
        width: 100%;
    }
    .portfolio .slide-up1:hover img{
        transform: translatey(-62%);
    }
    .portfolio .slide-up2:hover img{
        transform: translatey(-74%);
    }
    .portfolio  .contentof-slideup1,
    .portfolio  .contentof-slideup2{
    transform: translatey(-65%);
    }
    .portfolio .slide-up2{
        transform: translatey(-30%);
    }
    .portfolio .slide-up3 img,
    .portfolio .slide-up4 img{
        transition: 7s all ease-in-out;
        width: 100%;

    }
    .portfolio .slide-up3:hover img{
        transform: translatey(-69%);
    }
    .portfolio .slide-up4:hover img{
        transform: translatey(-82%);
    }
/*
     .fourth{
        transform: translateY(-185%);
    }
*/
    .fifth{
        height: 180vh;
/*        transform:translateY(-30%);*/
    }
    .fifth .flag{
        bottom: 28%;
        width: 80%;
        height: 82%;
        left: 41%;
    }
    footer {
/*        transform: translateY(-69%);*/
    }
    footer p {
        font-size:17px !important;
    }
}
